.main-content {
  background-color: rgb(78, 74, 74);
  flex: 1;
  padding: 32px;
}

@media screen and (max-width: 1400px) {
  .main-content {
    padding: 24px;
  }
}

@media screen and (max-width: 1200px) {
  .main-content {
    padding: 16px;
  }
}